<div class="auth-container">
    <h2>Entrar</h2>
    <form action="/login" method="POST">
    <div class="form-control">
        <label for="email">email</label>
        <input type="email" name="email" placeholder="digite seu email" required/>
    </div>
    <div class="form-control">
        <label for="senha">Senha</label>
        <input type="password" name="password" placeholder="digite sua senha" required/>
    </div>
    <button class="btnlogin" type="submit">Entrar na sua Conta</button>
    </form>
        <p>Não tem conta? <a href="/register">Crie uma Conta</a></p>
</div>
