<div class="auth-container">
    <h2>Registrar</h2>
    <form action="/register" method="POST">
    <div class="form-control">
        <label for="name">Nome</label>
        <input type="text" name="name" placeholder="digite seu nome" required/>
    </div>
    <div class="form-control">
        <label for="email">email</label>
        <input type="email" name="email" placeholder="digite seu email" required/>
    </div>
    <div class="form-control">
        <label for="senha">Senha</label>
        <input type="password" name="password" placeholder="digite sua senha" required/>
    </div>
    <div class="form-control">
        <label for="confirmpassword">confirmação de senha</label>
        <input type="password" name="confirmpassword" placeholder="confirme sua senha" required/>
    </div>
    <button class="btnregister" type="submit">Criar Conta</button>
    </form>
        <p>Já tem conta? <a href="/login">Faça Login</a></p>
</div>
