<div class="tought-form-container">
    <a href="/toughts/dashboard">Ver meus pensamentos</a>
    <h1>Criando um Pensamento:</h1>
    

    <form action="/toughts/add" method="POST">
    <div class="form-control">
        <label for="title">Titulo do pensamento</label>
        <input type="text" name="title" placeholder="Digite seu Pensamento">
    </div>
    <button type="submit" class="btn" value="enviar">Cadastrar Pensamento</button>
    </form>
</div>