<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/toughts/add" class="btn">Criar Pensamento</a>
    </div>

    <h3>Seus Pensamentos</h3>

    <ul>
        {{#each toughts}}
        <li>
            <span class="label">{{this.title}}</span>
            <span class="actions"><a href="/toughts/edit/{{this.id}}" class="btn">Editar</a>
            <form action="/toughts/remove" method="POST">
            <input type="hidden" name="id" value="{{this.id}}">
            <input type="submit" value="Excluir" name="Excluir" class="btn">
            </form>
            </span>
        </li>
        {{/each}}
    </ul><p></p>
    {{#if emptyToughts}}
    <p class="textareap">Ainda não há pensamentos por aqui, mas você poderá criar <a href="/toughts/add">clicando aqui</a></p>
    {{/if}}
</div>